body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    caret-color: transparent;
    background-color: #48d44f;
    font-family: "Bitcount Grid Single", system-ui;
}

.game-card {
    background: white;
    padding: 2rem;
    border-radius: 0;
    width: 100%;
    max-width: 513px;
    text-align: center;

    border: 5px solid #d4390a;
    box-shadow: 10px 10px 0px #000000
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 400;

    font-family: "Bitcount Grid Single", system-ui;
    color: #11021b;



}

.tooltip {
    text-align: center;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
    margin-bottom: 1rem;
    font-weight: 600;
}

/* Tooltip text (I added from w3schools)*/
.tooltiptext {
    text-align: center;
    visibility: hidden;
    /* Hidden by default */
    width: fit-content;
    background-color: rgb(15, 15, 15);
    color: #ffffff;
    text-align: center;
    padding: 5px 0px;
    border-radius: 0px;
    position: absolute;
    z-index: 1;
    caret-color: transparent;

}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
    caret-color: transparent;
    visibility: visible;
    opacity: 1;
}

.game-card {
    caret-color: transparent;
    border: 5px solid #000000;
    background-color: #e02a57;

}

.input-container {
    caret-color: transparent;
    display: flex;
    gap: 1rem;
    justify-content: center;
    
}

.letter-box {
    width: 5rem;
    font-weight: 800;
    height: 5rem;
    font-size: 3rem;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 0;
    box-shadow: 3px 3px 0px black;
    caret-color: transparent;
    background-color: #f7f380;
}

letter-box:focus {
    box-shadow: 5px 5px 0px black;
    border-color: #da4545;
}

.message {

    font-size: 2rem;
}

.restart-button {
    color: #000000;
    background-color: #ff6600;
    font-size: 1.8rem;
    text-align: center;
    font-family: "Bitcount Grid Single", system-ui;
    border: rgb(3, 2, 2) 3px solid;
    transition: width 2s;
}